name: TestRun

on:
  workflow_call:
    inputs:
      runs:
        description: "Runs on"
        required: false
        type: string
      os:
        description: "Test os"
        required: true
        type: string
      arch:
        description: "Test arch"
        required: true
        type: string
      release:
        description: "Test release"
        required: false
        type: string
      nic:
        description: "VM nic type"
        required: false
        type: string
      sync:
        description: "Sync type"
        required: false
        type: string



jobs:
  test:
    runs-on: ${{ inputs.runs }}
    name: Test ${{ inputs.release }} ${{ inputs.arch }} ${{ inputs.sync }}
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get --no-install-recommends -y install \
        zstd \
        ovmf \
        xz-utils \
        qemu-utils \
        ca-certificates \
        qemu-system-x86 \
        qemu-system-arm qemu-efi-aarch64  nfs-kernel-server rsync
        sudo chmod 666 /dev/kvm || true

    - name: Install dependencies (macOS)
      if: runner.os == 'macOS'
      run: |
        brew install qemu zstd xz rsync

    - name: Install dependencies (Windows)
      if: runner.os == 'Windows'
      run: |
        #C:/msys64/usr/bin/pacman.exe  -S --noconfirm  mingw-w64-ucrt-x86_64-qemu
        choco install qemu zstandard

    - name: Test 
      id: test
      shell: bash
      run: |
        set -e
        mountdir=test
        mkdir -p ${mountdir}
        echo "anyvm" > ${mountdir}/justcheck.txt
        mkdir -p ../test_output
        python anyvm.py --debug --data-dir ../test_output --os "${{ inputs.os }}" --release "${{ inputs.release }}" --arch "${{ inputs.arch }}" -d -v "${mountdir}:/mnt/host" --ssh-port 10022 --ssh-name "testname" -p 20022:22 --nc "${{ inputs.nc }}" --sync "${{ inputs.sync }}"
        # We use the ssh port as an alias to the vm, so we can use 'ssh $port' to login
        ssh 10022 ls /mnt/host
        ssh 10022 ls /mnt/host | grep justcheck.txt
        ssh testname ls /mnt/host | grep justcheck.txt
        ssh -vvv -p 20022 root@localhost ls /mnt/host | grep justcheck.txt
    









