name: TestRun

on:
  workflow_call:
    inputs:
      runs:
        description: "Runs on"
        required: false
        type: string
      os:
        description: "Test os"
        required: true
        type: string
      arch:
        description: "Test arch"
        required: true
        type: string
      release:
        description: "Test release"
        required: false
        type: string
      nic:
        description: "VM nic type"
        required: false
        type: string
      sync:
        description: "Sync type"
        required: false
        type: string



jobs:
  test:
    runs-on: ${{ inputs.runs }}
    name: Test ${{ inputs.release }} ${{ inputs.arch }} ${{ inputs.sync }}
    steps:
    - uses: actions/checkout@v4
    - name: Test 
      id: test
      run: |
        C:\msys64\usr\bin\pacman  -S --noconfirm  mingw-w64-ucrt-x86_64-qemu
        echo "" > justcheck.txt
        mkdir -p ..\test
        python anyvm.py --workingdir ..\test --os "${{ inputs.os }}" --release "${{ inputs.release }}" --arch "${{ inputs.arch }}" -d -v "$(pwd):/mnt/host" --sshport 10022 --nc "${{ inputs.nc }}" --sync "${{ inputs.sync }}"
        ssh 10022 ls /mnt/host
        
        if ! ssh 10022 ls /mnt/host | grep justcheck.txt; then
          echo "file mount failed"
          exit 1
        fi






