name: TestRun

on:
  workflow_call:
    inputs:
      runs:
        description: "Runs on"
        required: false
        type: string
      os:
        description: "Test os"
        required: true
        type: string
      arch:
        description: "Test arch"
        required: true
        type: string
      release:
        description: "Test release"
        required: false
        type: string
      nic:
        description: "VM nic type"
        required: false
        type: string
      sync:
        description: "Sync type"
        required: false
        type: string
      user:
        description: "VM user"
        required: false
        type: string
        default: "root"
      vmpath:
        description: "VM path for sync"
        required: false
        type: string
        default: "/mnt/host"
      sleep:
        description: "sleep for  test"
        required: false
        type: string
        default: ""



jobs:
  test:
    runs-on: ${{ inputs.runs }}
    name: Test ${{ inputs.release }} ${{ inputs.arch }} ${{ inputs.sync }}
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get --no-install-recommends -y install \
        zstd \
        ovmf \
        xz-utils \
        qemu-utils \
        ca-certificates \
        qemu-system-x86 \
        qemu-system-arm qemu-efi-aarch64 \
        qemu-system-misc u-boot-qemu ipxe-qemu \
        nfs-kernel-server rsync
        sudo chmod 666 /dev/kvm || true

    - name: Install dependencies (macOS)
      if: runner.os == 'macOS'
      run: |
        brew install qemu rsync

    - name: Install dependencies (Windows)
      if: runner.os == 'Windows'
      run: |
        #C:/msys64/usr/bin/pacman.exe  -S --noconfirm  mingw-w64-ucrt-x86_64-qemu
        choco install qemu zstandard rsync

    - name: Test 
      id: test
      shell: bash
      run: |
        set -e
        mountdir=test
        mkdir -p ${mountdir}
        echo "anyvm" > ${mountdir}/justcheck.txt
        echo "anyvm" > ${mountdir}/.dotfile
        mkdir -p ../test_output
        python anyvm.py --debug --data-dir ../test_output --os "${{ inputs.os }}" --release "${{ inputs.release }}" --arch "${{ inputs.arch }}" -d -v "${mountdir}:${{ inputs.vmpath }}" --ssh-port 10022 --ssh-name "testname" -p 20022:22 --nc "${{ inputs.nc }}" --sync "${{ inputs.sync }}" --sync-time
        # We use the ssh port as an alias to the vm, so we can use 'ssh $port' to login
        echo "===============test 1"
        ${{ inputs.sleep }}
        ssh -v 10022 ls -lah ${{ inputs.vmpath }}
        echo "===============test 2"
        ${{ inputs.sleep }}
        ssh -v 10022 ls ${{ inputs.vmpath }} | grep justcheck.txt
        ${{ inputs.sleep }}
        ssh -v 10022 ls -lah ${{ inputs.vmpath }} | grep '.dotfile'
        echo "===============test 3"
        ${{ inputs.sleep }}
        ssh -v testname ls ${{ inputs.vmpath }} | grep justcheck.txt
        echo "===============test 4"
        ${{ inputs.sleep }}
        ssh -v -p 20022 -o StrictHostKeyChecking=accept-new ${{ inputs.user }}@localhost ls ${{ inputs.vmpath }} | grep justcheck.txt
    









